// Button
.button {
  background: $light-blue;
  border: none;
  // border-bottom: .3rem solid darken($light-blue, 10%);
  color: white;
  font-size: $s-size;
  font-weight: 500;
  padding: $s-size;
}

.button:disabled {
  visibility: hidden;
}