.flex-container-cards {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-container-input {
  display: flex;
  flex-direction: column;
  font-size: $m-size;
  justify-content: space-around;
  margin: $s-size;
  text-align: center;

}

.cards {
  text-align: center;
  width: auto;
}

.card {
  background-color: white;
  line-height: $m-size;
  margin: $s-size;
  text-align: center;
  width: auto;
}

.card__text {
  font-weight: 500;
  font-size: $m-size;
  padding: $s-size;
  word-break: break-all;
}