.flex-container {
  background-color: #EE62A1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-container > div {
  background-color: $light-blue;
  // font-size: 20px;
  // line-height: 75px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.column__text {
  color: $off-white;
  font-weight: 500;
  font-size: 2rem;
  padding: $s-size;
  word-break: break-all;
}